body{
  padding: 20px;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h4 {
  padding: 20px 0 0 20px;
  font-size: 18px;


}

p {
  padding: 20px 0 0 20px;

}

#chartdiv {
  width: 100%;
  height: 650px;
}
#chartdiv2 {
  width: 100%;
  height: 650px;
}
